@use 'variables' as var;

@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin btn-base {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}

@mixin bg-img-gradient($url) {
	background-image: linear-gradient(
			to right,
			rgba(var.$color-primary-light, 0.8),
			rgba(var.$color-primary-dark, 0.8)
		),
		$url;
	background-size: cover;
}

@mixin text-gradient($direction, $col-1, $col-2) {
	display: inline-block;
	background-image: linear-gradient(to $direction, $col-1, $col-2);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

@mixin center-ver-hor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

@mixin top-left-zero {
	top: 0;
	left: 0;
}
