@use '../abstracts/variables' as var;

.footer {
	background-color: var.$color-grey-dark-3;
	padding: 10rem 0;
	font-size: var.$small-font-size;
	color: var.$color-grey-light-1;

	&__logo-box {
		text-align: center;
	}

	&__logo {
		width: 15rem;
		height: auto;
	}

	// NAVIGATION
	&__navigation,
	&__copyright {
		display: inline-block;
		border-top: 0.1rem solid var.$color-grey-dark;
		padding-top: 2rem;
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: var.$color-grey-light-1;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
		}

		&:hover,
		&:active {
			color: var.$color-primary;
		}
	}

	&__copyright {
		float: right;
	}
}
