@use '../abstracts/variables' as var;

.navigation {
	&__checkbox {
	}

	&__button {
	}

	&__background {
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		background-image: radial-gradient(
			var.$color-primary-light,
			var.$color-primary-dark
		);
		z-index: 2;
	}

	&__nav {
	}

	&__list {
	}

	&__item {
	}

	&__link {
	}
}
