@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.card {
	perspective: 150rem;
	position: relative;
	height: 53rem;

	&__side {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: var.$small-border-radius;
		box-shadow: 0 1.5rem 4rem rgba(var.$color-black, 0.15);
		backface-visibility: hidden;
		overflow: hidden;
		transition: transform 1s ease;

		&--front {
			background-color: var.$color-white;
		}
		&--back {
			transform: rotateY(180deg);

			&-1 {
				background-image: linear-gradient(
					to right bottom,
					var.$color-secondary-light,
					var.$color-secondary-dark
				);
			}
			&-2 {
				background-image: linear-gradient(
					to right bottom,
					var.$color-primary-light,
					var.$color-primary-dark
				);
			}
			&-3 {
				background-image: linear-gradient(
					to right bottom,
					var.$color-tertiary-light,
					var.$color-tertiary-dark
				);
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}
	&:hover &__side--back {
		transform: rotateY(0);
	}

	// FRONT SIDE STYLING
	&__picture {
		height: 23rem;
		background-blend-mode: screen;
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

		&--1 {
			background: linear-gradient(
					to right bottom,
					var.$color-secondary-light,
					var.$color-secondary-dark
				),
				url('../../img/nat-5.jpg');
			background-size: cover;
		}
		&--2 {
			background: linear-gradient(
					to right bottom,
					var.$color-primary-light,
					var.$color-primary-dark
				),
				url('../../img/nat-6.jpg');
			background-size: cover;
		}
		&--3 {
			background: linear-gradient(
					to right bottom,
					var.$color-tertiary-light,
					var.$color-tertiary-dark
				),
				url('../../img/nat-7.jpg');
			background-size: cover;
		}
	}
	// FRONT SIDE STYLING
	&__heading {
		width: 60%;
		font-size: 2.8rem;
		font-weight: 300;
		text-align: right;
		text-transform: uppercase;
		color: var.$color-white;
		position: absolute;
		top: 12rem;
		right: 2rem;
	}
	&__heading-span {
		padding: 1rem 1.5rem;
		box-decoration-break: clone;

		&--1 {
			background-image: linear-gradient(
				to right bottom,
				rgba(var.$color-secondary-light, 0.85),
				rgba(var.$color-secondary-dark, 0.85)
			);
		}
		&--2 {
			background-image: linear-gradient(
				to right bottom,
				rgba(var.$color-primary-light, 0.85),
				rgba(var.$color-primary-dark, 0.85)
			);
		}
		&--3 {
			background-image: linear-gradient(
				to right bottom,
				rgba(var.$color-tertiary-light, 0.85),
				rgba(var.$color-tertiary-dark, 0.85)
			);
		}
	}
	// FRONT SIDE STYLING
	&__details {
		ul {
			width: 65%;
			margin: 2rem auto 0;
			list-style: none;

			li {
				text-align: center;
				font-size: 1.5rem;
				text-transform: capitalize;
				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 3px solid var.$color-grey-light-2;
				}
			}
		}
	}
	// **************************************
	// BACK SIDE STYLING
	&__cta {
		width: 100%;
		position: absolute;
		@include mix.center-ver-hor;
	}

	&__price {
		&-box {
			color: var.$color-white;
			margin-bottom: 8rem;
		}
		&-only {
			font-size: 1.7rem;
			text-transform: uppercase;
		}
		&-value {
			font-size: 6rem;
			font-weight: 100;
		}
	}
}
