@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.feature-box {
	background-color: rgba(var.$color-white, 0.8);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: var.$small-border-radius;
	box-shadow: 0 1.5rem 4rem rgba(var.$color-black, 0.15);
	transition: transform 0.3s ease;

	&:hover {
		transform: translateY(-1.5rem) scale(1.07);
	}

	&__icon {
		font-size: 6rem;
		@include mix.text-gradient(
			right,
			var.$color-primary-light,
			var.$color-primary-dark
		);
	}
}
