@use '../abstracts';

.btn {
	&,
	&:link,
	&:visited {
		@include abstracts.btn-base;
		padding: 1.5rem 4rem;
		border-radius: abstracts.$defautl-border-radius;
		position: relative;
		font-size: abstracts.$default-font-size;

		border: none;
		cursor: pointer;
	}

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: abstracts.$btn-shadow-before;

		&::after {
			transform: scale(1.4, 1.6);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-0.1rem);
		box-shadow: abstracts.$btn-shadow-after;
	}

	&--white {
		background-color: abstracts.$color-white;
		color: abstracts.$color-grey-dark;

		&::after {
			background-color: abstracts.$color-white;
		}
	}

	&--green {
		background-color: abstracts.$color-primary;
		color: abstracts.$color-white;

		&::after {
			background-color: abstracts.$color-primary;
		}
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: abstracts.$defautl-border-radius;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--fade-up {
		animation: fadein-bottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		@include abstracts.btn-base;
		color: abstracts.$color-primary;
		border-bottom: 1px solid abstracts.$color-primary;
		padding: 3px;
		font-size: abstracts.$default-font-size;
		transition: all 0.2s;
	}
	&:hover {
		background-color: abstracts.$color-primary;
		color: abstracts.$color-white;
		transform: translateY(-2px);
		box-shadow: abstracts.$btn-shadow-after;
	}
	&:active {
		transform: translateY(1px);
		box-shadow: abstracts.$btn-shadow-after;
	}
}
