@use '../abstracts';

.feature-box {
	background-color: rgba(abstracts.$color-white, 0.8);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: abstracts.$small-border-radius;
	box-shadow: 0 1.5rem 4rem rgba(abstracts.$color-black, 0.15);
	transition: transform 0.3s ease;

	&:hover {
		transform: translateY(-1.5rem) scale(1.07);
	}

	&__icon {
		font-size: 6rem;
		@include abstracts.text-gradient(
			right,
			abstracts.$color-primary-light,
			abstracts.$color-primary-dark
		);
	}
}
