@use '../abstracts/variables' as var;
@use '../abstracts/mediaQueries' as mq;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	/* you don't want to have this one every element
		we will use inherantace instead
	*/
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	background-color: var.$color-grey-light-1;
}
