@use '../abstracts/variables' as var;
@use '../abstracts/mediaQueries' as mq;
@use '../abstracts/functions' as funct;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	/* you don't want to have this one every element
		we will use inherantace instead
	*/
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;

	// DEFINES WHAT 1rem IS BY USING THE BASE-FONT-SIZE FUNCTION
	font-size: funct.base-font-size(10px);

	@include mq.respond(mq.$tab-land) {
		font-size: funct.base-font-size(9px);
	}
	@include mq.respond(mq.$tab-port) {
		font-size: funct.base-font-size(8px);
	}
}

body {
	box-sizing: border-box;
	background-color: var.$color-grey-light-1;
}
